<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExMod.Exiled" version="9.12.6" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.2.2" targetFramework="net48" />
  <package id="Northwood.LabAPI" version="1.1.1" targetFramework="net48" />
  <package id="RueI" version="3.1.2" targetFramework="net48" />
  <package id="YamlDotNet" version="11.0.1" targetFramework="net48" />
</packages>